<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silentflutes.cryptography" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.silentflutes.cryptography.ListOfAlgorithm"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.silentflutes.cryptography.Caesar.Caesar" android:label="Caesar cipher" />
        <activity android:name=".Caesar.Caesarconfigure" android:label="Caesar cipher" />

        <activity android:name="com.silentflutes.cryptography.Hill.Hill" android:label="Hill Cipher" />
        <activity android:name="com.silentflutes.cryptography.Hill.Hillconfigure" android:label="Hill Cipher" />

        <activity android:name="com.silentflutes.cryptography.Monoalphabetic.Monoalphabeticconfigure" android:label="Monoalphabetic" />
        <activity android:name="com.silentflutes.cryptography.Monoalphabetic.Monoalphabetic" android:label="Monoalphabetic" />



        <activity android:name="com.silentflutes.cryptography.Playfair.Playfair" android:label="Playfair" />
        <activity android:name="com.silentflutes.cryptography.Playfair.Playfairconfigure" android:label="Playfair" />

        <activity android:name="com.silentflutes.cryptography.Vernam.Vernam" android:label="Vernam" />
        <activity android:name="com.silentflutes.cryptography.Vernam.Vernamconfigure" android:label="Vernam" />

        <activity android:name="com.silentflutes.cryptography.Vigenere.Vigenere" android:label="Vigenere" />
        <activity android:name="com.silentflutes.cryptography.Vigenere.Vigenereconfigure" android:label="Vigenere" />

    </application>

</manifest>
